/*@import url('https://fonts.googleapis.com/css?family=Poppins&dislay=swap');*/

.bg-modal{
    width:100%;
    height: 100%;
    background-color: rgba(63, 61, 61, 0.3);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: none;*/
}

.modal-content{
    width: 300px;
    height: 300px;
    background-color: white;
    opacity: 1;

}

.close{
    position: absolute;
    top: -23px;
    right: -6px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;

}

#customer-list_5{
    width: 56%;
    height: 48%;
    position: absolute;
    /* right: 10%; */
    left: 6%;
    top: 5px;
    /* border: 1px solid rgb(197, 190, 190); */
    background-color: white;
    /* margin: 2%;*/
}

.modal-content{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
}

/*CSS for model*/

#customer-button{
    position: absolute;
    right: 32%;
    background-color: orangered;
}


#customer-list{
    width: 56%;
    height: 37%;
    position: absolute;
    /* right: 10%; */
    left: 6%;
    top: 152px;
    /* border: 1px solid rgb(197, 190, 190); */
    background-color: white;
    /* margin: 2%;s
}

#noti{
    width: 20%;
    height: 1%;
    margin-left: -20%;
    color: rgb(50, 148, 194);
}

.col2 ul li{
    color: rgb(46, 141, 179);
    /*width: 0%;*/
    /*margin: 2%;*/
}